# Built application files
/build/
/app/build/
/app/release
/app/keystore*

# Gradle files
/.gradle/
/.idea/
**/local.properties
/*.iml

# Signing keys
*.jks
*.keystore
*.p12
**/keystore.properties

# IntelliJ
.idea/
.idea/*
!/.idea/gradle.xml
!/.idea/libraries

# Kotlin/Java
*.class
*.log

# Native
.cxx/
externalNativeBuild/

# Gradle wrapper
/gradle/wrapper/

# OS files
.DS_Store
Thumbs.db

# Misc
captures/
